@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #FFF;
    font: 16px/28px 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    background-color: #000;
}
a {
    color: inherit;
    text-decoration: none;
    transition: .2s;
}

a:hover{
    color: #EE8313;
}
ul li {
    list-style: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
button {
    display: block;
    border: none;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    transition: .4s;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* HEADER */

.btn-primary {
    padding: 12px 24px;
    font-weight: 600;
    background-color: #EE8313;
}

.btn-primary:hover{
    background-color: #64380a;
    transition: .2s;
}

.btn-secondary{
    padding: 12px 24px;
    border: 1px solid #EE8313;
    color: #EE8313;
    font-weight: 600;
    line-height: 24px;  
}

.btn-secondary:hover{
    border: 1px solid #64380a;
    color: #64380a;
    transition: .2s;
}

header{
    padding: 40px 0 110px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.header-logo{
    width: 48px;
    height: 48px;
}

.header-nav{
    margin-left: auto;
}

.header-nuv-ul{
    display: flex;
    gap: 48px;
    margin-right: 72px;
}

/* BANNER */

#banner-section {
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
}

.banner{
    width: 475px;
    padding-top: 40px;
    overflow: hidden;
}

.banner-header{
    font-weight: 700;
    font-size: 52px;
    line-height: 64px; 
    letter-spacing: 0.6px;
}

.banner-text{
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: -0.408px;
    margin: 32px 0 48px;
}

.banner-button{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 40px;
}
.futures-span-strong{
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.0041em;
    margin-right: 16px;
    vertical-align: sub;
    
}

.futures-span{
    font-weight: 600;
    line-height: 24px;
}

.futures-span:first-child{
    margin-right: 40px;
}

.banner-img{
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
}

.banner-img::before{
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background: url(/svoi-sait/img/car.png) no-repeat;
}
.banner-img::after{
    position: absolute;
    content: '';
    z-index: 1;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
    background-color: rgb(52 52 52 / 30%);
}

    /*RENT*/

#rent-section{
    padding: 120px 0;
}

.rent-header{
    text-align: center;
    font-weight: 700;
    font-size: 52px;
    line-height: 64px; 
    letter-spacing: 0.006em;
    margin-bottom: 40px;
}

.rent-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

}

.rent{
    position: relative;
    height: 525px;
    font-weight: 600;
    background: url(/svoi-sait/img/car1.png) 50%/cover no-repeat;
}

.rent:nth-child(2){
    background: url(/svoi-sait/img/car2.png) 50%/cover no-repeat;
}
.rent:nth-child(3){
    background: url(/svoi-sait/img/car3.png) 50%/cover no-repeat;
}
.rent:nth-child(4){
    background: url(/svoi-sait/img/car4.png) 50%/cover no-repeat;
}



.rent-name{
    position: absolute;
    top: 48px;
    left: 48px;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.006em;
    
}

.rent-link{
    position: absolute;
    bottom: 48px;
    right: 60px;
    padding-right: 30px;
    font-size: 24px;
    letter-spacing: 0.6px;
}

.rent-link::after{
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 8px;
    height: 16px;
    background: url(/svoi-sait/img/vector1.png) 50%/cover no-repeat;
    transform: translateY(-50%);
}

/* SERVICE */

.services-section{
    padding-bottom: 120px;
}

.service-header{
    text-align: left;
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.006em;
    margin-bottom: 65px;
}

.service-digit{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.service-img{
    margin-bottom: 24px;
}

.service-h3header{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.service-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

/* destination*/


#destination-section{
    padding-bottom: 162px;

}
.destination-header{
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    text-align: center;
    width: 590px;
    margin: 0 auto 40px;
}

.destination-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.destination {
    border: 1px solid #171717;
    background-color: #171717;
}
.destination-h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
}
.destination-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0041em;
    margin-bottom: 25px;
}

.destination-sale{
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    padding-left: 42px;
    letter-spacing: 0.0041em;
    display: block;
    position: relative;
    margin-bottom: 17px;
}
.destination-sale::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    background: url(/svoi-sait/img/logocar.png);
    transform: translateY(-50%);
}

.location-header{
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 40px;
}
#location-section {
    padding-bottom: 102px;
}

/* FOOTER */

#footer-section{
    padding-top: 40px;
    background-color: #1F1905;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}

.footer-about-logo{
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 64px;
    font-weight: 600px;
}

.footer-about-text{
    width: 235px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;  
}

.footer-nav-wrap{
    display: flex;
    justify-content: space-between;
    gap: 45px;
    margin: 40px 100px 0 auto;
}
.footer-nuv-header{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 32px;
}

.footer-nav-li-about{
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.footer-social-link{
    display: block;
    width: 120px;
    height: 30px;
    margin-bottom: 45px;
    background: url(/svoi-sait/img/face.png) 50%/cover no-repeat;
}
.footer-social{
    margin-bottom: 32px;
}

.footer-social-link:nth-child(2){
    background: url(/svoi-sait/img/inst.png) 50%/cover no-repeat;
}
.footer-social-link:nth-child(3){
    background: url(/svoi-sait/img/youtube.png) 50%/cover no-repeat;
    margin-bottom: 0;
}

.footer-copyright{
    background-color: #EE8313;
    padding: 20px 0;
}

.footer-copyright__text{
    text-align: center;
}